fieldset {
	border: 10px dotted rgb(45, 213, 171);
	padding: 10px;
}

fieldset:has(#Ghost:checked) #GhostSection {
	display: block;
}

fieldset:has(#EscapedMagicalAnimal:checked) #MagicalAnimalSection {
	display: block;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff7518;
}

form {
	background-color: blanchedalmond;
	max-width: max-content;
	padding: 5px;
}

.Field {
	margin-bottom: 5px;
}

#Fields {
	max-width: max-content;
	gap: 10px;
}

input {
	width: 100%;
}

select {
	width: 100%;
}

#Submit {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}